version: '3.7'

services:
  homeserver-web:
    image: homeserver-web
    container_name: homeserver-web
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.homeserver-web.entryPoints=web-secure
      - traefik.http.routers.homeserver-web.rule=Host(`server.crstian.me`)
      - traefik.http.routers.homeserver-web.tls.certresolver=default
      - com.centurylinklabs.watchtower.enable=false

networks:
  default:
    name: homeserver-web-network